/dts-v1/;

#include "imx6ull.dtsi"

#include "imx6ull-var-dart.dtsi"
#include "imx6ul-imx6ull-var-dart-emmc.dtsi"

#include "imx6ull-var-dart-6ulcustomboard.dtsi"
#include "imx6ul-imx6ull-var-dart-6ulcustomboard-sd-card.dtsi"

/ {
	model = "AESYS 2328A";
	compatible = "variscite,imx6ul-var-dart", "fsl,imx6ull";
};
