/dts-v1/;

#include "imx6ull.dtsi"

#include "imx6ull-var-dart.dtsi"
#include "imx6ul-imx6ull-var-dart-emmc.dtsi"

#include "imx6ull-var-dart-6ulcustomboard.dtsi"
#include "imx6ul-imx6ull-var-dart-6ulcustomboard-sd-card.dtsi"

/ {
	model = "AESYS 2328A";
	compatible = "variscite,imx6ul-var-dart", "fsl,imx6ull";

    backlight {
        status = "disabled";
    };

    keys {
        status = "disabled";
    };

    /delete-node/ sound;

    sound {
        #address-cells = <1>;
	    #size-cells = <0>;

        compatible = "simple-audio-card";
        simple-audio-card,name = "tas2563";
        simple-audio-card,format = "i2s";
        simple-audio-card,bitclock-inversion;
        simple-audio-card,frame-master = <&cpu_dai>;
        simple-audio-card,bitclock-master = <&cpu_dai>;
        status = "okay";
        
        cpu_dai: simple-audio-card,cpu {
            sound-dai = <&sai3>;
            dai-tdm-slot-num = <2>;
            dai-tdm-slot-width = <16>;
        };

        codec_dai: simple-audio-card,codec {
            sound-dai = <&tas2563_codec>;
            system-clock-frequency = <12288000>;
        };
    };
};

&sai3 {
	pinctrl-names = "default";
	pinctrl-0 = <&pinctrl_sai3>;
	assigned-clocks = <&clks IMX6UL_CLK_SAI3_SEL>,
			  <&clks IMX6UL_CLK_SAI3>;
	assigned-clock-parents = <&clks IMX6UL_CLK_PLL4_AUDIO_DIV>;
	assigned-clock-rates = <0>, <12288000>;
	fsl,sai-mclk-direction-output;
	status = "okay";
};

&touch_3v3_regulator {
    status = "disabled";
};

&adc1 {
    status = "disabled";
};

&tsc {
    status = "disabled";
};

&uart2 {
    status = "disabled";
};

&can1 {
    status = "disabled";
};

&lcdif {
    status = "disabled";
};

&pwm1 {
    status = "disabled";
};

&usbotg1 {
    dr_mode = "peripheral";
};

&usbotg2 {
    status = "disabled";
};

&i2c2 {
    /delete-node/ wm8904@1a;
};

&i2c1 {
    tas2563_codec: tas2563_codec@4c {
        pinctrl-names = "default";
        pinctrl-0 = <&pinctrl_tas2563>;
        compatible = "ti,tas2563";
        reg = <0x4c>;
        #sound-dai-cells = <0>;
        clocks = <&clks IMX6UL_CLK_SAI3>;
		clock-names = "mclk";
        interrupt-parent = <&gpio1>;
        interrupts = <0>;
        shutdown-gpios = <&gpio1 1 0>;
        status = "okay" ;
    };

    eeprom: eeprom@50 {
		compatible = "st,24c08";
		reg = <0x50>;
		pagesize = <16>;
		num-addresses = <4>;
	};
};

&iomuxc {
    pinctrl-names = "default";
	pinctrl-0 = <&pinctrl_custom_gpios>;

    pinctrl_tas2563: tas2563_grp {
        fsl,pins = <
            MX6UL_PAD_GPIO1_IO00__GPIO1_IO00    0xb0    // AMP_nIRQ
            MX6UL_PAD_GPIO1_IO01__GPIO1_IO01    0xb0    // SOM_AMP_PWR_EN
		>;
    };

    pinctrl_sai3: sai3grp {
		fsl,pins = <
            MX6UL_PAD_LCD_ENABLE__SAI3_TX_SYNC  0x17088
            MX6UL_PAD_LCD_HSYNC__SAI3_TX_BCLK   0x17088
            MX6UL_PAD_LCD_RESET__SAI3_TX_DATA   0x11088
            MX6UL_PAD_LCD_VSYNC__SAI3_RX_DATA   0x11088
		>;
	};

    pinctrl_custom_gpios: custom_gpios_grp {
		fsl,pins = <
            MX6UL_PAD_GPIO1_IO02__GPIO1_IO02    0xb0    // I2C_nINT
            MX6UL_PAD_CSI_MCLK__GPIO4_IO17      0xb0    // DIP_SW
            MX6UL_PAD_CSI_DATA00__GPIO4_IO21    0xb0    // HW_REV1
            MX6UL_PAD_CSI_DATA01__GPIO4_IO22    0xb0    // HW_REV2
            MX6UL_PAD_CSI_DATA02__GPIO4_IO23    0xb0    // HW_REV3
            MX6UL_PAD_CSI_DATA03__GPIO4_IO24    0xb0    // HW_REV4
            MX6UL_PAD_SNVS_TAMPER1__GPIO5_IO01  0xb0    // General purpose GPIO
            MX6UL_PAD_SNVS_TAMPER3__GPIO5_IO03  0xb0    // USB_nPRES
		>;
	};
};
